.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle at center, rgb(56, 123, 84) 2.00%,rgb(28, 70, 44) 100.00%);
}
.home-hero {
  width: 100%;
  height: 366px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  min-height: 50vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container01 {
  width: 666px;
  display: flex;
  align-items: center;
  margin-right: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  color: rgb(255, 255, 255);
  width: 548px;
  font-size: 7rem;
  max-width: 500px;
  font-style: normal;
  font-family: "Tangerine";
  font-weight: 700;
  line-height: 0.8;
}
.home-text01 {
  color: rgb(255, 255, 255);
  width: 243px;
  height: 43px;
  font-size: 3em;
  font-style: normal;
  text-align: center;
  font-family: "Tangerine";
  font-weight: 700;
}
.home-container02 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container03 {
  flex: 2;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
  background-color: #c7d4c9;
}
.home-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text02 {
  fill: #375a3d;
  color: #375a3d;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
}
.home-text03 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Raleway";
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text04 {
  font-style: normal;
  font-weight: 600;
}
.home-text06 {
  font-style: normal;
  font-weight: 600;
}
.home-link {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  margin: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 150px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #45714c;
}
.home-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.home-testimonial-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-radius: 15px;
  justify-content: space-between;
  background-color: #c7d4c9;
}
.home-testimonial1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.home-text09 {
  fill: #375a3d;
  color: #375a3d;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
}
.home-text10 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Raleway";
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text11 {
  font-style: normal;
  font-weight: 600;
}
.home-text12 {
  font-style: normal;
  font-weight: 600;
}
.home-text13 {
  font-style: normal;
  font-weight: 600;
}
.home-link1 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  margin: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 150px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #45714c;
}
.home-link1:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-image1 {
  width: 240px;
  height: 238px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.home-container05 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-testimonial-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #c7d4c9;
}
.home-text17 {
  fill: #375a3d;
  color: #375a3d;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  padding-top: var(--dl-space-space-twounits);
}
.home-text18 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.25;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text20 {
  font-style: normal;
  font-weight: 700;
}
.home-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-image2 {
  width: 50px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text22 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  font-family: "Raleway";
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container07 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-image3 {
  width: 50px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text23 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  font-family: "Raleway";
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-image4 {
  width: 50px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-text24 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  font-family: "Raleway";
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text25 {
  fill: #375a3d;
  color: #375a3d;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text26 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.25;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-link2 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  margin: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 150px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #45714c;
}
.home-link2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-container09 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: stretch;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-container10 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-testimonial-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #c7d4c9;
}
.home-text27 {
  color: #152217;
  font-size: 1.15rem;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text28 {
  fill: #375a3d;
  color: #375a3d;
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
}
.home-testimonial-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  margin-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #c7d4c9;
}
.home-text29 {
  fill: #375a3d;
  color: #375a3d;
  font-size: 1.5rem;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0),5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
}
.home-text30 {
  fill: #152217;
  color: #152217;
  font-size: 1.15rem;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.25;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-link3 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  margin: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 150px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #45714c;
}
.home-link3:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text {
    text-align: center;
  }
  .home-container02 {
    flex-direction: column;
  }
  .home-container03 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-container09 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container02 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-testimonial-card1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-testimonial1 {
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container09 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    width: 479px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text {
    color: rgb(255, 255, 255);
    width: 477px;
    font-size: 6rem;
    font-style: normal;
    font-family: Tangerine;
    font-weight: 700;
    line-height: 0.8;
  }
  .home-container02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    background-color: #c7d4c9;
  }
  .home-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text03 {
    color: rgb(21, 34, 23);
    font-size: 1.15rem;
    text-align: center;
    font-family: Raleway;
    line-height: 1.5;
  }
  .home-text04 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text06 {
    font-style: normal;
    font-weight: 600;
  }
  .home-testimonial-card1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-testimonial1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text10 {
    text-align: center;
  }
  .home-testimonial-card2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container09 {
    height: 611px;
    align-items: stretch;
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
    justify-content: space-between;
  }
  .home-container10 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-testimonial-card3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-testimonial-card4 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
